body{
    background-color: rgb(255, 255, 255);
}
main{
    background-color: rgb(194, 255, 251);
    margin-bottom: 400px;
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 600px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: large;
}
nav{
    text-align: center;
    margin-top: 3%;
    padding-top: 2%;
}
button {
    position: relative;
    display: inline-block;
    margin: 17px;
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  button:active {
    transform: scale(0.9);
  }
.topics{
    margin-left: 200px;

}
.descriptions{
    margin-left: 200px;
    margin-right: 200px;
    border-style: groove;
    background-color: rgb(163, 228, 250);
    border-color: rgb(163, 228, 250);
    padding-top: 7px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 7px;
}
.result {
    text-align: center;
}
#text{
    margin-left: 30em;
    margin-right: 30em;
    border-style: groove;
    background-color: rgb(255, 255, 255);
    border-color: rgb(163, 228, 250);
    padding-top: 7px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 7px;
}
#detail{
    margin-left: 30em;
    margin-right: 30em;
    border-style: groove;
    background-color: rgb(255, 255, 255);
    border-color: rgb(163, 228, 250);
    padding-top: 7px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 7px;
}